# 一些被ignore的mod对应的cfg
notenoughitems*
justenoughresources*
justenoughcharacters*
journeymap*
mousetweaks*
neat*
optifine*
durabilityviewer*
foamfix*
hwyla*
smoothfont*
tweakergui*
vanillafix/
vanillafix.cfg
waila/
wawla.cfg
NEI/
InvTweaks*
jei/*.cfg
# 服务器特有
sponge/
nucleus/
bStats/
luckperms/
craftbook/
karoglansigneditor/
placeholderapi/
totaleconomy/
flexiblelogin/
*twentyticks*
dynmap.cfg
justchat/
universeguard.conf
universeguard/