# 简 单 粗 暴

# 文件夹
/.mixin.out/
/assets/
/CustomSkinLoader/
/journeymap/
/libraries/
/liteconfig/
/llibrary/
/local/
/logs/
/openvr/
/resourcepacks/
/resources/
/saves/
/shaderpacks/
/versions/
/luckperms/
/nucleus/
/screenshots/

# 文件
option*.*
*.log
launcher*
user*

# 服务器相关
*server*
whitelist*
Run*
banned*
eula.txt
*forge*
ops*
/world/
start.sh
/dynmap/