# Configuration file

~CONFIG_VERSION: 0.1.0

world1544803905 {
    S:filterText=
}


world30525356 {
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=@back

    # Show the list of ingredients next to open guis.
    B:overlayEnabled=true
}


